body{
  background-color:black;
  color: white;
  text-align: center;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1200px;
}
body {
  margin-top: 100px;
}

h1{
  margin:auto;
}
a{
  color: aquamarine
}
#download{
  margin: 21px 0px;
}

h4{
  color: grey;
}
